<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTS_PRG2_20212_59.Properties.Settings.UTSConnectionString"
            connectionString="Data Source=DESKTOP-BCLQG20\ASIRA;Initial Catalog=UTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>